.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fefaeb;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidenav a:hover {/*changemement de couleurs si on passe la souris dessus*/
  color: gray;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* pour les competences*/
* {
  box-sizing: border-box;
}


.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.vert1{
  background-color: #99cb38;
}

.vert2{
  background-color: #e2f0d9;
}

.columnDessin {
  float: left;
  width: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 8px;
}

.columnEcriture {
  float: left;
  width: 160px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}